.navItem {
  margin-left: 15px;
  padding-bottom: 10px;
}

.navItemText {
  cursor: pointer;
}

.logoutText {
  color: white;
  cursor: pointer;
}

.topNav {
  padding-bottom: 0px;
}

.logoutDiv {
  float: right;
}

#headerImage{
  margin-right: 50px
}