.navItem {
  margin-left: 15px;
  padding-bottom: 10px;
}

.navItemText {
  cursor: pointer;
}

.logoutText {
  font-weight: bold;
  color: white;
}

.topNav {
  padding-bottom: 0px;
}

.logoutDiv {
  float: right;
}
